.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer150 { height: 150px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

// Append ... when overflow for long names & text
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}

// Layout helpers
.inline-block {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
}
.inline { display: inline; }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-middle { vertical-align: middle; }
.text-bottom { vertical-align: bottom; }
.text-top { vertical-align: top; }

.text-shadow{
    text-shadow: -1px -1px 1px rgba(111,81,8,.72);
}
.uppercase {
    text-transform : uppercase;
}
.auto-center-960 {
  display:block;
  margin: 0 auto;
  width:auto;
  max-width: 1200px;
  position: relative;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  height: inherit;
}
.auto-center-980 {
  @extend .auto-center-960;
//  max-width: 980px;
}

.border-box {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

// Margin and padding helpers
.m0 { margin: 0; }
.m2 { margin: 2px; }
.m5 { margin: 5px; }
.m50 { margin: 50px; }
.m10 { margin: 10px; }
.m20 { margin: 20px; }

.ml0 { margin-left: 0; }
.ml2 { margin-left: 2px; }
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml20 { margin-left: 20px; }
.mr0 { margin-right: 0; }
.mr5 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.mr15 { margin-right: 15px; }
.mr20 { margin-right: 20px; }
.mb0 { margin-bottom: 0; }
.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb50 { margin-bottom: 50px; }
.mb100 { margin-bottom: 100px; }
.mt0 { margin-top: 0px; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt50 { margin-top: 50px; }
.mt100 { margin-top:100px; }
.mauto { margin-left:auto; margin-right: auto;}

.p0 { padding: 0; }
.p5 { padding: 5px; }
.p10 { padding: 10px; }
.p20 { padding: 20px; }
.p30 { padding: 30px; }
.p40 { padding: 40px; }
.pl0 { padding-left: 0; }
.pl5 { padding-left: 5px; }
.pl10 { padding-left: 10px; }
.pl20 { padding-left: 20px; }
.pl50 { padding-left: 50px; }
.pr0 { padding-right: 0; }
.pr10 { padding-right: 10px; }
.pr20 { padding-right: 20px; }
.pb0 { padding-bottom: 0; }
.pb5 { padding-bottom: 5px; }
.pb10 { padding-bottom: 10px; }
.pb20 { padding-bottom: 20px; }
.pb50 { padding-bottom: 50px; }
.pt5 { padding-top: 5px; }
.pt10 { padding-top: 10px; }
.pt20 { padding-top: 20px; }
.pt50 { padding-top: 50px; }

.w50 { width:50px; }
.w100 { width:100px; }
.w150 { width:150px; }
.w200 { width:200px; }
.w250 { width:250px; }
.w300 { width:300px; }
.w350 { width:350px; }
.w400 { width:400px; }

.w50p { width:50%; }
.w60p { width:60%; }


.lh-base { line-height: $baseFontSize; }

ul.inline > li {
    display:inline-block;
}


body #bb-main .hide { display: none; }

.middle { vertical-align:middle; }

.noFocus { outline: none; }
.block { display:block; }
.cursor-pointer { cursor: pointer; }
.cursor-default { cursor: default; }



// Font color helpers
// -------------------------
.text-white,
a.hover-white:hover,
a.hover-white > span:hover { 
    color: $white; 
}


.text-gray,
a.hover-gray:hover,
a.hover-gray > span:hover { 
    color: $gray; 
}

.text-green,
a.hover-green:hover,
a.hover-green > span:hover { 
    color: $green; 
}

.text-default { 
    color: $textColor; 
}

.red { color: $red; }
.text-red,
 a.hover-red:hover { 
     color: $red; 
}


.bg-white {
    background-color: $white
}

// Text positioning
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.no-shadow { text-shadow: none; }
